includeConfig 'conf/base.config'

params {
  outdir = 'results'
  indexfile = 'index.csv'
  virreport_viral_db = true
  virreport_ncbi = false
  blastn_evalue = '0.0001'
  blastn_method = 'megablast'
  blastx = true
  blastx_evalue = '0.01'
  cap3_len = '40'
  detection_reporting_nt = false
  detection_reporting_viral_db = false
  blast_viral_db_path = null
  blast_db_dir = null
  virusdetect_db_path = null
  contamination_flag = '0.01'
  dedup = false
  help = false
  ictvinfo = 'ICTV_taxonomy_MinIdentity_Species.tsv'
  maxlen = '22'
  merge_lane = false
  minlen = '21'
  negative_seqid_list = "${projectDir}/bin/negative_list_out.txt"
  orf_minsize = '90'
  orf_circ_minsize = '90'
  qualityfilter = false
  spadesmem = '32'
  targets = false
  targets_file = "${projectDir}/bin/Targetted_Viruses_Viroids.txt"
  tblastn_evalue = '0.0001'
  virusdetect = false
  diagno = false
  blastx_len = 105
  rna_source_profile = false
  synthetic_oligos = false
  sampleinfo = false
  sampleinfo_path = null
  samplesheet_path = null
}

process.container = "ghcr.io/eresearchqut/virreport:v2.0.0"

process {
  errorStrategy = 'retry'
  maxRetries = 2
  maxErrors = 2
}

profiles {
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  conda {
    process.conda = "$baseDir/environment.yml"
  }
  test { 
    includeConfig "conf/test.config"
  }

  test2 {
    includeConfig "conf/test2.config"
  }
}

manifest {
  name          = "eresearchqut/VirReport"
  author        = "Roberto Barrero, Maely Gauthier, Desmond Schmidt, Craig Windell"
  defaultBranch = "main"
  description   = "VirReport is designed to help phytosanitary diagnostics of viruses and viroid pathogens in quarantine facilities. It takes small RNA-Seq samples as input."
  version       = "v2.0.0"
}
