includeConfig 'conf/base.config'

params {
  outdir = 'results'
  indexfile = 'index.csv'
  blast_db = '/lustre/work-lustre/hia_mt18005/blastDB/30112021'
  blastn_local_db = '/work/hia_mt18005/databases/PVirDB/PVriDB_ver2021_11_09/PVirDB_ver20211109.fasta'
  targets = false
  targets_file = 'Targetted_Viruses_Viroids.txt'
  help = false
  cap3_len = '20'
  orf_minsize = '150'
  orf_circ_minsize = '150'
  blastn_evalue = '0.0001'
  blastp_evalue = '0.0001'
  blastn_method = 'megablast'
  blastp = false
  spades = false
  spadeskmer = '9 11 13 15 17 19 21'
  blastlocaldb = false
  ictvinfo = 'ICTV_taxonomy_MinIdentity_Species.tsv'
  contamination_detection = false
  contamination_flag = '0.01'
  contamination_detection_method = 'RPKM'
}

process.container = "ghcr.io/eresearchqut/virreport:v0.0.4"

manifest {
  name          = "eresearchqut/VirReport"
  author        = "Roberto Barrero, Maely Gauthier, Desmond Schmidt, Craig Windell"
  defaultBranch = "main"
  description   = "VirReport is designed to help phytosanitary diagnostics of viruses and viroid pathogens in quarantine facilities. It takes small RNA-Seq samples as input."
  version       = "0.0.4"
}