process {
  cpus = 2
  memory = { 4.GB * task.attempt }
  time = { 2.h * task.attempt }

  withLabel: medium_mem {
    memory = { 16.GB * task.attempt }
  }
  withLabel: xlarge {
    cpus = 8
    memory = { 32.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  withLabel: blastn_mem {
    cpus = 4
    memory = { 48.GB * task.attempt }
    time = { 8.h * task.attempt }
  }
  withName: filter_n_cov {
    cpus = 4
    memory = { 48.GB * task.attempt }
  }
  withLabel: local {
    cpus = 1
    executor = 'local'
  }
  errorStrategy = 'retry'
  maxRetries = 2
  maxErrors = 2
}
  withLabel: spades_mem_cpu {
    cpus = 2
    memory = { 180.GB * task.attempt }
}

profiles {
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  conda {
    process.conda = "$baseDir/environment.yml"
  }

}
/*
profiles {
  standard {
    process.conda = "$HOME/.nextflow/NXF_CONDA_CACHEDIR/vsd-2.0-abcff41258213b2e014a1e66d01ccdb8"
  }
}
*/
