process {
  cpus = 2
  memory = { 4.GB * task.attempt }
  time = { 1.h * task.attempt }

  withLabel: setting_1 {
    cpus = 2
    memory = { 32.GB * task.attempt }
    time = { 2.h * task.attempt }
  }
  withLabel: setting_2 {
    cpus = 4
    memory = { 96.GB * task.attempt }
    time = { 3.h * task.attempt }
  }
  withLabel: setting_3 {
    cpus = 4
    memory = { 4.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withLabel: setting_4 {
    cpus = 4
    memory = { 12.GB * task.attempt }
    time = { 2.h * task.attempt }
  }
  withLabel: setting_5 {
    cpus = 4
    memory = { 24.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withLabel: setting_6 {
    cpus = 4
    memory = { 32.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withLabel: setting_7 {
    cpus = 4
    memory = { 64.GB * task.attempt }
    time = { 1.h * task.attempt }
  }
  withLabel: local {
    cpus = 1
    executor = 'local'
  }
  errorStrategy = 'retry'
  maxRetries = 2
  maxErrors = 2
}