process {
  cpus = 2
  memory = { 4.GB * task.attempt }
  time = { 2.h * task.attempt }

  withLabel: medium_mem {
    memory = { 16.GB * task.attempt }
  }
  withLabel: medium_cpu {
    cpus = 2
    memory = { 16.GB * task.attempt }
  }
  withName: readprocessing {
    cpus = 4
    memory = { 80.GB * task.attempt }
  }
  withLabel: velvet_mem_cpu {
    cpus = 2
    memory = { 80.GB * task.attempt }
  }
  withLabel: large {
    memory = { 24.GB * task.attempt }
  }
  withLabel: xlarge {
    cpus = 8
    memory = { 32.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  withLabel: fastp_mem {
    cpus = 4
    memory = { 60.GB * task.attempt }
  }
  withLabel: blast_mem {
    cpus = 4
    memory = { 48.GB * task.attempt }
  }
  withName: filter_n_cov {
    cpus = 4
    memory = { 60.GB * task.attempt }
  }
  withLabel: local {
    executor = 'local'
  }
  errorStrategy = 'retry'
  maxRetries = 2
  maxErrors = 2
}
  withLabel: spades_mem_cpu {
    cpus = 2
    memory = { 180.GB * task.attempt }
}

profiles {
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  conda {
    process.conda = "$baseDir/environment.yml"
  }

}
