/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function on a single quality-filtered fastq file'    

    // Input data
    indexfile = "$baseDir/test/test_index.csv"

    // Blastdb reference path
    blastn_db_path = "$baseDir/test/nt"
    spadesmem = '8'
    run_viral_db_blast = false
    run_nt_blast = true
    dedup = true
    blastx = false
    report_nt_detections = true
    bowtie_db_dir = null
   
}
process {
  withName: DENOVO_ASSEMBLY {
    memory = 8.GB
    time =  1.h
  }

  withName:BLASTN_NT_CAP3 {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName:COVSTATS_NT {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

}
