/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run main.nf -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile to test pair of fastq files that require quality filtering'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    

    // Input data
    indexfile = "$baseDir/test/test2_index.csv"

    // Blastdb reference path
    spadesmem = '8'
    virreport_viral_db = true
    virreport_ncbi = false
    blast_viral_db_path = "$baseDir/test/viral_db_test"
    qualityfilter = true
    dedup = true
    merge_lane = true  
    contamination_detection_viral_db = true
    bowtie_db_dir = "$baseDir/test"
    blast_db_dir = null
    virusdetect_db_path = null
    sampleinfo_path = null
}

process {
  withName: ADAPTER_TRIMMING {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName: QUAL_TRIMMING_AND_QC {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName: DERIVE_USABLE_READS {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName: DENOVO_ASSEMBLY {
    memory = 8.GB
    time =  1.h
  }

  withName:BLAST_NT_VIRAL_DB_CAP3 {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName:COVSTATS_VIRAL_DB {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

  withName:TBLASTN_VIRAL_DB {
    cpus = 2
    memory = 8.GB
    time =  1.h
  }

}
